<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
      <div class="col-md-12">
<div class="card" style="margin: auto; width: 100%;" >
    <ngb-tabset style="margin: 2%;" type="pills" justify="start">
            <ngb-tab title="Hotel">
                    <ng-template ngbTabContent>
                  <app-hotelcontrole></app-hotelcontrole>

                    </ng-template>
            </ngb-tab>
            <ngb-tab>
                    <ng-template ngbTabTitle> Voyage</ng-template>
                    <ng-template ngbTabContent>
                        
                     <app-voyagecontrole></app-voyagecontrole>

                    </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle> Soiree</ng-template>
              <ng-template ngbTabContent>
                  
               <app-soireecontrole></app-soireecontrole>

              </ng-template>
      </ngb-tab>

      <ngb-tab>
        <ng-template ngbTabTitle> Circuit</ng-template>
        <ng-template ngbTabContent>
            
<app-circuitcontrole></app-circuitcontrole>
        </ng-template>
</ngb-tab>
            </ngb-tabset>
                            
</div>
</div>
    </div>
</div>