<h2 class="md-5 mt-5 ml-5 cyan-text font-weight-bold">Laissez un message  </h2>
<div class="row">
        <div class="col-lg-5 col-md-12">
                <!-- Form contact -->

                <form class="p-5 cyan-text" [formGroup]="reactiveform" action="">
                  <div class="md-form form-sm"> <i class="fas fa-user prefix"></i>
                    <input type="text" name="nom"  class="form-control form-control-sm" mdbInput [(ngModel)]="contact.nom" formControlName="nom" >
                    <label for="form3">Your name</label>
                    <mat-error *ngIf="reactiveform.get('nom').errors?.required  ">nom is required</mat-error>

                  </div>
                  <div class="md-form .form-control-sm"> <i class="fas fa-envelope prefix"></i>
                    <input type="email" name="email"  class="form-control form-control-sm" mdbInput [(ngModel)]="contact.email" formControlName="email" >
                    <label for="form2">Your email</label>
                    <mat-error *ngIf="reactiveform.get('email').errors  ">email is required</mat-error>

                  </div>
                  <div class="md-form .form-control-sm"> <i class="fas fa-phone prefix" ></i>
                    <input type="number" name="tel"  class="form-control form-control-sm" mdbInput [(ngModel)]="contact.tel" formControlName="tel">
                    <label for="for">Telephone</label>
                    <mat-error *ngIf="reactiveform.get('tel').errors?.required  ">tel is required</mat-error>

                  </div>
                  <div class="md-form form-sm"> <i class="fas fa-tag prefix"></i>
                    <input type="text"  name="sujet" class="form-control form-control-sm" mdbInput [(ngModel)]="contact.sujet" formControlName="sujet">
                    <label for="form34">Subject</label>
                    <mat-error *ngIf="reactiveform.get('sujet').errors?.required  ">sujet is required</mat-error>

                  </div>
                  <div class="md-form form-sm"> <i class="fas fa-pencil-alt prefix"></i>
                    <textarea type="text" name="message"  class="md-textarea form-control form-control-sm" rows="4" mdbInput [(ngModel)]="contact.message" formControlName="message"></textarea>
                    <label for="form8">Your message</label>
                    <mat-error *ngIf="reactiveform.get('message').errors?.required  ">message is required</mat-error>

                  </div>
                  <div class="text-center mt-4">
                      <button  mdbBtn type="button" color="warning" (click)= afficher() outline="true" [disabled]="reactiveform.invalid" dbWavesEffect>Envoyer</button>
                  </div>
                </form>
                <!-- Form contact -->
              </div>
              

    <div class="col-lg-7 col-md-12">
        <!--Google map-->
        <!--Grid row-->
<div class="row text-center">

  <!--Grid column-->
  <div class="col-lg-4 col-md-12 mb-3">

      <p><i class="fas fa-map fa-1x mr-2 cyan-text"></i>Br 03 Centre Le Palace Av Hedi Nouira Ennasr 2 CP : 2001</p>

  </div>
  <!--Grid column-->

  <!--Grid column-->
  <div class="col-lg-4 col-md-6 mb-3">

      <p><i class="fas fa-building fa-1x mr-2 cyan-text"></i>Mon - Fri, 8:00-22:00</p>

  </div>
  <!--Grid column-->

  <!--Grid column-->
  <div class="col-lg-4 col-md-6 mb-3">

      <p><i class="fas fa-phone fa-1x mr-2 cyan-text"></i>(+216) 70 830 524<br> (+216) 23 569 470</p>

  </div>
  <!--Grid column-->

</div>
<!--Grid row-->
        <div id="map-container" class="z-depth-1-half map-container ml-4 mb-5" >
            <iframe src="https://www.google.com/maps/d/embed?mid=1d2AMAmM0WBgAFwzYUV4hFfskFqc"  ></iframe>
        </div>
    </div>
    
</div>
