
<!-- Default column sizing form -->
<section style="width: 100%;height: 100%;">

    <h1 style="text-align: center;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">MODIFIER VOYAGE</h1>
    <hr>
   
      <form [formGroup]="form" >
        <div class="form-row m-2">
          <mat-form-field class="col">
            <input matInput type="text" class="form-control" placeholder="id" formControlName="id" (change)="valid()" [(ngModel)]="data.comp.id" disabled="true">
            <mat-error *ngIf="form.get('id').errors?.required">Le id est obligatoire</mat-error>
  
          </mat-form-field>
          
          <mat-form-field class="col">
            <input matInput type="text" class="form-control" placeholder="nom" formControlName="nom" (change)="valid()" [(ngModel)]="data.comp.nom">
            <mat-error *ngIf="form.get('nom').errors?.required">Le nom est obligatoire</mat-error>
  
          </mat-form-field>
          
          <mat-form-field class="col">
            <input matInput type="text" class="form-control" placeholder="pays" formControlName="pays" (change)="valid()" [(ngModel)]="data.comp.pays">
            <mat-error *ngIf="form.get('pays').errors?.required">Le pays est obligatoire</mat-error>
  
          </mat-form-field>
          <mat-form-field class="col">
            <!-- Default input -->
            <input matInput type="number" class="form-control" placeholder="tarifbebe" formControlName="tarifbebe" (change)="valid()" [(ngModel)]="data.comp.tarifbebe">
            <mat-error *ngIf="form.get('tarifbebe').errors?.required">Le tarifbebe est obligatoire</mat-error>
  
          </mat-form-field>
        </div>
  
  
        <div class="form-row m-2">
            <mat-form-field class="col">
              <input matInput type="text" class="form-control" placeholder="titre" formControlName="titre" (change)="valid()" [(ngModel)]="data.comp.titre">
              <mat-error *ngIf="form.get('titre').errors?.required">Le titre est obligatoire</mat-error>
  
            </mat-form-field>
            
            <mat-form-field class="col">
              <input matInput type="number" class="form-control" placeholder="venteadultesingle" formControlName="venteadultesingle" (change)="valid()" [(ngModel)]="data.comp.venteadultesingle">
              <mat-error *ngIf="form.get('venteadultesingle').errors?.required">Le venteadultesingle est obligatoire</mat-error>
  
            </mat-form-field>
            
         
          </div>
        <!-- Grid row -->
  
        <div class="form-row m-2">
  
          <mat-form-field class="col">
            <!-- Default input -->
            <input matInput type="number" class="form-control" placeholder="venteadultedble" formControlName="venteadultedble" (change)="valid()" [(ngModel)]="data.comp.venteadultedble">
            <mat-error *ngIf="form.get('venteadultedble').errors?.required">Le venteadultedble est obligatoire</mat-error>
  
          </mat-form-field>
  
          <mat-form-field class="col">
            <!-- Default input -->
            <input matInput type="number" class="form-control" placeholder="vente3rdad" formControlName="vente3rdad" (change)="valid()" [(ngModel)]="data.comp.vente3rdad">
            <mat-error *ngIf="form.get('vente3rdad').errors?.required">Le vente3rdad est obligatoire</mat-error>
  
          </mat-form-field>
          <mat-form-field class="col">
            <!-- Default input -->
            <input matInput type="number" class="form-control" placeholder="venteenfant2ad" formControlName="venteenfant2ad" (change)="valid()" [(ngModel)]="data.comp.venteenfant2ad">
            <mat-error *ngIf="form.get('venteenfant2ad').errors?.required">Le venteenfant2ad est obligatoire</mat-error>
  
          </mat-form-field>
  
          <mat-form-field class="col">
            <!-- Default input -->
            <input matInput type="number" class="form-control" placeholder="venteenfant1ad" formControlName="venteenfant1ad" (change)="valid()" [(ngModel)]="data.comp.venteenfant1ad">
            <mat-error *ngIf="form.get('venteenfant1ad').errors?.required">Le venteenfant1ad est obligatoire</mat-error>
  
          </mat-form-field>
          <!-- Grid column -->
      
          <!-- Grid column -->
          
          <!-- Grid column -->
        </div>
  
        <div class="form-row m-2">
          <mat-form-field class="col">
            <!-- Default input -->
            <input matInput type="number" class="form-control" placeholder="venteenfant12ans" formControlName="venteenfant12ans" (change)="valid()" [(ngModel)]="data.comp.venteenfant12ans">
            <mat-error *ngIf="form.get('venteenfant12ans').errors?.required">Le venteenfant12ans est obligatoire</mat-error>
  
          </mat-form-field>
          <mat-form-field class="col">
            <!-- Default input -->
            <input matInput type="number" class="form-control" placeholder="venteenfant6ans" formControlName="venteenfant6ans" (change)="valid()" [(ngModel)]="data.comp.venteenfant6ans">
            <mat-error *ngIf="form.get('venteenfant6ans').errors?.required">Le venteenfant6ans est obligatoire</mat-error>
  
          </mat-form-field>
  
       
        </div>
  
        <div class="form-row m-2">
            <!-- Grid column -->
            <mat-form-field class="col">
              <!-- Default input -->
              <input matInput class="form-control"  type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31"  formControlName="dateretour" (change)="valid()" [(ngModel)]="data.comp.dateretour">
              <mat-error *ngIf="form.get('dateretour').errors?.required">Le date de retour est obligatoire</mat-error>
  
            </mat-form-field>
            <mat-form-field class="col">
              <!-- Default input -->
              <input matInput class="form-control"  type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31"  formControlName="datedepart" (change)="valid()" [(ngModel)]="data.comp.datedepart">
              <mat-error *ngIf="form.get('datedepart').errors?.required">Le date de depart est obligatoire</mat-error>
  
            </mat-form-field>
           
           
          </div>
          <div class="form-row m-2">
            <!-- Grid column -->
            <mat-form-field class="col">
              <!-- Default input -->
              <textarea matInput type="text" class="form-control" placeholder="programme" formControlName="programme" (change)="valid()"  [(ngModel)]="data.comp.programme.programme"></textarea>
  
              <mat-error *ngIf="form.get('programme').errors?.required">Le programme est obligatoire</mat-error>
  
            </mat-form-field>
           
           
           
          </div>
          <div class="form-row m-2">
  
            <div class="col">
              <div>
                  <input type="file" name="image" (change)="selectMultipleImage($event)" accept="image/*" multiple/>
                </div>
                
             </div>
          <!-- Grid column -->
      
          <!-- Grid column -->
          
  
          </div>
          <div class="form-row m-2">
            <div class="col">
              <mat-grid-list cols="2" rowHeight="2:1" *ngIf="imageverif==false">
              <mat-grid-tile 
                *ngFor="let item of data.comp.image ; let index = index;">
                
            
                <img src="{{item}}" alt="image" style="margin-top: 8px;width: 100%;height: 100%;">
            
            
              </mat-grid-tile>
            </mat-grid-list>  
            </div>
           
  
          </div>
          <div class="form-row m-2">
            <div class="col">
              <mat-grid-list cols="2" rowHeight="2:1" *ngIf="form.get('image').valid && imageverif==true">
              <mat-grid-tile 
                *ngFor="let item of imagePreview2 ; let index = index;">
                
            
                <img src="{{item}}" alt="image" style="margin-top: 8px;width: 100%;height: 100%;">
            
            
              </mat-grid-tile>
            </mat-grid-list>  
            </div>
          </div>
          <div style="text-align: center;" >
            <button mat-button mat-dialog-close  type="button" (click)="onSubmit(data.comp._id)" [disabled]="! formvalid"  >Upload</button>
            <input  type="button" (click)="close()" value="close"/>
    
            
    
          </div>
         
    
      </form>
    </section>