<div class="panel-header panel-header-sm">
</div>

<div class=" row">

  <div *ngIf="userType==='super admin'" class="main-content w-50">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="title">Gestion des Admins</h5>
          </div>
          <div class="card-body">
            <div class="search-div">
              
     
              <mat-form-field class="search-form-field" floatLabel="never" style="background: white;">
                <input matInput style="background: white;" [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
                <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </div>
            <div class="mat-elevation-z8 container">
              <mat-table [dataSource]="listeAdmin"  matSort>
                <ng-container matColumnDef="nom">
                    <mat-header-cell *matHeaderCellDef  mat-sort-header style="color: blue;"> Name</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.nom}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="cin">
                    <mat-header-cell *matHeaderCellDef  mat-sort-header style="color: blue;">Cin</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.cin}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="tel">
                      <mat-header-cell *matHeaderCellDef  mat-sort-header style="color: blue;">Tel</mat-header-cell>
                      <mat-cell *matCellDef="let element">{{element.tel}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="type">
                      <mat-header-cell *matHeaderCellDef  mat-sort-header style="color: blue;">Type</mat-header-cell>
                      <mat-cell *matCellDef="let element">{{element.type}}</mat-cell>
                    </ng-container>
                
                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <a  title="DownGrade" style="color: #E34724;" data-toggle="tooltip" (click)="DowngradeToClient(row._id) "><i class="material-icons">play_for_work</i></a>
                            <a  title="Delete" style="color: #E34724;" data-toggle="tooltip" (click)="DeleteUser(row._id,'admin') "><i class="material-icons">&#xE872;</i></a>
                        </mat-cell>
                      </ng-container>
                <ng-container matColumnDef="loading">
                  <mat-footer-cell *matFooterCellDef colspan="6">
                    Loading data...
                  </mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="noData">
                  <mat-footer-cell *matFooterCellDef colspan="6">
                    No data.
                  </mat-footer-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="AdminColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: AdminColumns;"></mat-row>
                <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listeAdmin!=null}"></mat-footer-row>
                <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listeAdmin!=null && listeAdmin.data.length==0)}"></mat-footer-row>
              </mat-table>
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
            </div>
          
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-content w-50">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="title">Gestion des Clients</h5>
          </div>
          <div class="card-body">
            <div class="search-div">
              <mat-form-field class="search-form-field" floatLabel="never" style="background: white;">
                <input matInput style="background: white;" [(ngModel)]="searchKey2" placeholder="Search" autocomplete="off" (keyup)="applyFilter2()">
                <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey2"  (click)="onSearchClear2()">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </div>
            <div class="mat-elevation-z8 container">
              <mat-table [dataSource]="listeclient"  matSort>
                <ng-container matColumnDef="nom">
                  <mat-header-cell *matHeaderCellDef  mat-sort-header style="color: blue;"> Name</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.nom}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="cin">
                  <mat-header-cell *matHeaderCellDef  mat-sort-header style="color: blue;">Cin</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.cin}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="tel">
                    <mat-header-cell *matHeaderCellDef  mat-sort-header style="color: blue;">Tel</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.tel}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="type">
                    <mat-header-cell *matHeaderCellDef  mat-sort-header style="color: blue;">Type</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.type}}</mat-cell>
                  </ng-container>
                
                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <a *ngIf="userType==='super admin'"  title="Upgrade" style="color: #E34724;" data-toggle="tooltip" (click)="UpgradeToAdmin(row._id) "><i class="material-icons">upgrade</i></a>
                    <a  title="Delete" style="color: #E34724;" data-toggle="tooltip" (click)="DeleteUser(row._id,'client') "><i class="material-icons">&#xE872;</i></a>
                </mat-cell>
                </ng-container>
                <ng-container matColumnDef="loading">
                  <mat-footer-cell *matFooterCellDef colspan="6">
                    Loading data...
                  </mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="noData">
                  <mat-footer-cell *matFooterCellDef colspan="6">
                    No data.
                  </mat-footer-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="ClientColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: ClientColumns;"></mat-row>
                <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listeclient!=null}"></mat-footer-row>
                <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listeclient!=null && listeclient.data.length==0)}"></mat-footer-row>
              </mat-table>
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
            </div>
          
          </div>
        </div>
      </div>
    </div>
  </div>


</div>