.view {
    background: url("https://www.avenue14.net/wp-content/uploads/2019/10/tunisie.jpg")no-repeat center center;
    /*background: ("assets/navbar.jpg")no-repeat center center;*/
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.navbar {
    background-color: transparent;
}
.top-nav-collapse {
    background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
    .view{
        height: 100vh;
        width: 100vw;

    }
}

  header.masthead {
    text-align: center;
    color: #fff;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 30%;
    background-size: cover;
  }
  
  article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
  }
  
  @media (min-width:1200px) {
    .container {
      max-width: 1140px;
    }
  }
  
  @media (min-width:992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width:768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width:576px) {
    .container {
      max-width: 540px;
    }
  }
  
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width:768px) {
    header.masthead .intro-text {
      padding-top: 300px;
      padding-bottom: 200px;
    }
  }
  
  header.masthead .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
  }
  
  header.masthead {
    text-align: center;
    color: #fff;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 30%;
    background-size: cover;
  }
  
  @media (min-width:768px) {
    header.masthead .intro-text .intro-lead-in {
      font-size: 40px;
      font-style: italic;
      line-height: 40px;
      margin-bottom: 25px;
      font-family: Droid Serif,Helvetica Neue,Helvetica,Arial,sans-serif;
    }
  }
  
  header.masthead .intro-text .intro-lead-in {
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
    margin-bottom: 25px;
    font-family: Droid Serif,Helvetica Neue,Helvetica,Arial,sans-serif;
  }
  
  @media (min-width:768px) {
    header.masthead .intro-text .intro-heading {
      font-size: 75px;
      font-weight: 700;
      line-height: 75px;
      margin-bottom: 50px;
      font-family: Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif;
    }
  }
  
  header.masthead .intro-text .intro-heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 140px;
    font-family: Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif;
  }
  
  .text-uppercase {
    text-transform: uppercase!important;
  }
  
          