<div class="row" >
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Message</h5>
        </div>
        <div class="card-body">
          <div class="search-div">
            <mat-form-field class="search-form-field" floatLabel="never" style="background: white;">
              <input matInput style="background: white;" [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
              <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="mat-elevation-z8 container">
            <mat-table [dataSource]="listData"  matSort>
              <ng-container matColumnDef="nom">
                <mat-header-cell *matHeaderCellDef  mat-sort-header style="color: blue;"> Name</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.nom}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="_id">
                <mat-header-cell *matHeaderCellDef  mat-sort-header style="color: blue;">Id</mat-header-cell>
                <mat-cell *matCellDef="let element" style="margin-right:4px ;" >{{element._id}}</mat-cell>
              </ng-container>
              
              
              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <a  style="color: #FFC107;" title="Edit" data-toggle="tooltip"  (click)="onMessage(row)">  <i class="fas fa-envelope"></i></a>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef colspan="6">
                  Loading data...
                </mat-footer-cell>
              </ng-container>
              <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef colspan="6">
                  No data.
                </mat-footer-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
              <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
          </div>
          <div class="mat-elevation-z8 container modal-dialog-scrollable" *ngIf="visible" style="overflow: scroll;">
            <table>

              <tr>
                <div class="md-form form-sm"> <i class="fas fa-user-alt prefix"></i>


                  <label for="form8">vers {{item.nom}}</label>
    
                </div>
              </tr>
              <tr>
                <div class="md-form form-sm" > <i class="fas fa-pencil-alt prefix"></i>
                  <textarea  type="text" name="message"  placeholder="your message" cols="20" rows="5" mdbInput [(ngModel)]="message" ></textarea>
  
                </div>
              </tr>
              <tr>
                <div class="md-form form-sm"> 
                  <button (click)="onEnvoyer()">Envoyer</button>
                </div>
              </tr>

            </table>
          
         
            
          </div>
        </div>
      </div>
    </div>
  </div>