<div *ngIf ="loading === true"  class="mt-7 d-flex justify-content-center">
    <div width="100%" height="100%" class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <app-navbar *ngIf ="loading === true"></app-navbar>
<table *ngIf="loading=== false" width = "100%" >
    <tr valign = "top">
        <td  width = "30%" >
            <div class="card ml-3 mt-5">
                <article class="card-group-item">
                    <header class="card-header cyan">
                        <h4 class="title font-weight-bold  white-text text-center">Filtre </h4>
                    </header>
                    <div class="filter-content">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Prix Minimal : {{min}}</label>
                                    <div class="slidecontainer">
                                        <input type="range" min="1" max="300" value="{{min}}" class="slider" id="myRange" [(ngModel)]= "min" (change)="testing4()">
                                    </div>
                                </div>
                                <div class="form-group col-md-6 text-left">
                                    <label>Prix Maximal : {{max}}</label>
                                    <div class="slidecontainer">
                                        <input type="range" min="1" max="300" value="{{max}}" class="slider" id="myRange" [(ngModel)]= "max" (change)="testing4()">
                                    </div>
                                </div>
                                <select [(ngModel)]= "ville" (click)="testing2()" class="browser-default custom-select">
                                    <option selected>Liste des Villes</option>
                                    <option *ngFor="let item of listVille"  >{{item.nom}}</option>
                                </select>
                            </div>
                            <div >
                                <div>
                                    <button class="btnEtoile" (click)="testing3('1')">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star "></span>
                                        <span class="fa fa-star "></span>
                                        <span class="fa fa-star "></span>
                                        <span class="fa fa-star"></span>
                                    </button>
                                </div>
                                <div>
                                    <button class="btnEtoile" (click)="testing3('2')">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star "></span>
                                        <span class="fa fa-star "></span>
                                        <span class="fa fa-star"></span>
                                    </button>
                                </div>
                                <div>
                                    <button class="btnEtoile" (click)="testing3('3')">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star "></span>
                                        <span class="fa fa-star"></span>
                                    </button>
                                </div>
                                <div>
                                    <button class="btnEtoile" (click)="testing3('4')">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked "></span>
                                        <span class="fa fa-star"></span>
                                    </button>
                                </div>
                                <div>
                                    <button class="btnEtoile" (click)="testing3('5')">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked "></span>
                                        <span class="fa fa-star checked"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div> <!-- card.// -->
        </td>
        <td width = "70%" height = "200">
            <div class="md-form"style="margin-left: 9%;margin-top:5%; margin-right: 40%;">
                <input mdbInput type="text" name="text" [(ngModel)]="text" id="form1" class="form-control"(click)="testing1()"  >
                <label for="form1" class="">Taper le nomde l'hotel</label>
            </div>
            <h3 class="md-5 mt-5 ml-5 orange-text font-weight-bold" style="margin-left: 5%;">L'hotel Rechercher est : {{text}}</h3>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <div style="margin-left: 5%;" class="d-flex flex-wrap justify-content-center" *ngIf="test===''">
                <div class="card" style="width: 18rem;margin: 2%;" *ngFor="let item of ListeHotelsBase | filtersearsh:text ">
                    <div *ngFor="let i of item.image; let index = index;">
                        <img class="card-img-top" *ngIf="index===0" [src]="i" alt="Card image cap" height="250px">

                      </div>
                    <div class="card-body ">
                        <h5 class="card-title">{{item.nom}}
                            <div >
                                <span class="fa fa-star " [ngStyle]="{'color':item.categorie =='1' || item.categorie =='2' || item.categorie =='3' || item.categorie =='4' || item.categorie =='5'  ? 'orange' : 'black' }" ></span>
                                <span class="fa fa-star " [ngStyle]="{'color':item.categorie =='2' || item.categorie =='3' || item.categorie =='4' || item.categorie =='5' ? 'orange' : 'black' }" ></span>
                                <span class="fa fa-star " [ngStyle]="{'color':item.categorie =='3' || item.categorie =='4' || item.categorie =='5' ? 'orange' : 'black' }" ></span>
                                <span class="fa fa-star " [ngStyle]="{'color':item.categorie =='4' || item.categorie =='5' ? 'orange' : 'black' }" ></span>
                                <span class="fa fa-star " [ngStyle]="{'color':item.categorie =='5' ? 'orange' : 'black' }" ></span>
                            </div>

                        </h5>
                        <i class="fa fa-map-marker cyan-text" > {{item.ville}}</i>
                        <p class="card-text">{{item.type}}</p>
                        <h5 style="color:  orange;">{{getPrix(item)}} TND/Nuit</h5>
                        <button mdbBtn type="button"  rounded="true"  color="cyan" outline="true" mdbWavesEffect (click)="sourceBase(item)" [routerLink]="['/ReservationHotel', item.id]">Réserver</button>
                    </div>
                </div>

            </div>
            <div style="margin-left: 5%;" class="d-flex flex-wrap justify-content-center" *ngIf="test==='f'">
                <div class="card" style="width: 18rem;margin: 2%;" *ngFor="let item of ListeHotelsBase | filteretoile:etoile | filterprix:min:max:hotelServices | filtersearsh:text | filters:ville">
                    <div *ngFor="let i of item.image; let index = index;">
                        <img class="card-img-top" *ngIf="index===0" [src]="i" alt="Card image cap" height="250px">

                      </div>
                    <div class="card-body ">
                        <h5 class="card-title">{{item.nom}}
                            <div >
                                <span class="fa fa-star " [ngStyle]="{'color':item.categorie =='1' || item.categorie =='2' || item.categorie =='3' || item.categorie =='4' || item.categorie =='5'  ? 'orange' : 'black' }" ></span>
                                <span class="fa fa-star " [ngStyle]="{'color':item.categorie =='2' || item.categorie =='3' || item.categorie =='4' || item.categorie =='5' ? 'orange' : 'black' }" ></span>
                                <span class="fa fa-star " [ngStyle]="{'color':item.categorie =='3' || item.categorie =='4' || item.categorie =='5' ? 'orange' : 'black' }" ></span>
                                <span class="fa fa-star " [ngStyle]="{'color':item.categorie =='4' || item.categorie =='5' ? 'orange' : 'black' }" ></span>
                                <span class="fa fa-star " [ngStyle]="{'color':item.categorie =='5' ? 'orange' : 'black' }" ></span>
                            </div>

                        </h5>
                        <i class="fa fa-map-marker cyan-text" > {{item.ville}}</i>
                        <p class="card-text">{{item.type}}</p>
                        <h5 style="color:  orange;">{{getPrix(item)}} TND/Nuit</h5>
                        <button mdbBtn type="button"  rounded="true"  color="cyan" outline="true" mdbWavesEffect (click)="sourceBase(item)" [routerLink]="['/ReservationHotel', item.id]">Réserver</button>
                    </div>
                </div>

            </div>
                <div style="margin-left: 5%;" class="d-flex flex-wrap justify-content-center" *ngIf="test==='f'">
                    <div class="card" style="width: 18rem;margin: 2%;" *ngFor="let item of ListeHotels | filteretoile:etoile | filterprix:min:max:hotelServices | filtersearsh:text | filters:ville">
                        <img class="card-img-top" src="https://freedomtravel.tn/assets/images/hotel_miniature/{{item.id}}.jpg" alt="Card image cap" height="250px">
                        <div class="card-body ">
                            <h5 class="card-title">{{item.nom}}
                                <div >
                                    <span class="fa fa-star " [ngStyle]="{'color':item.categorie =='1' || item.categorie =='2' || item.categorie =='3' || item.categorie =='4' || item.categorie =='5'  ? 'orange' : 'black' }" ></span>
                                    <span class="fa fa-star " [ngStyle]="{'color':item.categorie =='2' || item.categorie =='3' || item.categorie =='4' || item.categorie =='5' ? 'orange' : 'black' }" ></span>
                                    <span class="fa fa-star " [ngStyle]="{'color':item.categorie =='3' || item.categorie =='4' || item.categorie =='5' ? 'orange' : 'black' }" ></span>
                                    <span class="fa fa-star " [ngStyle]="{'color':item.categorie =='4' || item.categorie =='5' ? 'orange' : 'black' }" ></span>
                                    <span class="fa fa-star " [ngStyle]="{'color':item.categorie =='5' ? 'orange' : 'black' }" ></span>
                                </div>
                            </h5>
                            <i class="fa fa-map-marker cyan-text" > {{item.ville}}</i>
                            <p class="card-text">{{item.type}}</p>
                            <h5 style="color:  orange;">{{getPrix(item)}} TND/Nuit</h5>
                            <button mdbBtn type="button"  rounded="true"  color="cyan" outline="true" mdbWavesEffect (click)="sourceApi(item)" [routerLink]="['/ReservationHotel', item.id]">Réserver</button>
                        </div>
                    </div>

    
                </div>

           


            

          
            <div style="margin-left: 5%;" class="d-flex flex-wrap justify-content-center" *ngIf="test===''">
                <div class="card" style="width: 18rem;margin: 2%;" *ngFor="let item of ListeHotels | filtersearsh:text ">
                    <img class="card-img-top" src="https://freedomtravel.tn/assets/images/hotel_miniature/{{item.id}}.jpg" alt="Card image cap" height="250px">
                    <div class="card-body ">
                        <h5 class="card-title">{{item.nom}}
                            <div >
                                <span class="fa fa-star " [ngStyle]="{'color':item.categorie =='1' || item.categorie =='2' || item.categorie =='3' || item.categorie =='4' || item.categorie =='5'  ? 'orange' : 'black' }" ></span>
                                <span class="fa fa-star " [ngStyle]="{'color':item.categorie =='2' || item.categorie =='3' || item.categorie =='4' || item.categorie =='5' ? 'orange' : 'black' }" ></span>
                                <span class="fa fa-star " [ngStyle]="{'color':item.categorie =='3' || item.categorie =='4' || item.categorie =='5' ? 'orange' : 'black' }" ></span>
                                <span class="fa fa-star " [ngStyle]="{'color':item.categorie =='4' || item.categorie =='5' ? 'orange' : 'black' }" ></span>
                                <span class="fa fa-star " [ngStyle]="{'color':item.categorie =='5' ? 'orange' : 'black' }" ></span>
                            </div>
                        </h5>
                        <i class="fa fa-map-marker cyan-text" > {{item.ville}}</i>
                        <p class="card-text">{{item.type}}</p>
                        <h5 style="color:  orange;">{{getPrix(item)}} TND/Nuit</h5>
                        <div style=" margin-top: auto;">
                            <a  mdbBtn type="button"  rounded="true"  color="cyan" outline="true" mdbWavesEffect (click)="sourceApi(item)" [routerLink]="['/ReservationHotel', item.id]">Réserver</a>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>