
<!-- Default column sizing form -->
<section style="width: 100%;height: 100%;">
    <h1 style="text-align: center;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Modifie HOTEL</h1>
    <hr>
    <form [formGroup]="form" >
        <!-- Grid row -->
        <div class="form-row m-2">
          <!-- Grid column -->
          <mat-form-field class="col">
            <!-- Default input -->
            <input matInput type="text" class="form-control" placeholder="id" formControlName="id" (change)="valid()" [(ngModel)]="data.comp.id">
            <mat-error *ngIf="form.get('id').errors?.required">Le id est obligatoire</mat-error>
  
          </mat-form-field>
          <!-- Grid column -->
        
          <!-- Grid column -->
          <mat-form-field class="col">
            <!-- Default input -->
            <input matInput type="text" class="form-control" placeholder="titre" formControlName="titre" (change)="valid()" [(ngModel)]="data.comp.titre">
            <mat-error *ngIf="form.get('titre').errors?.required">Le titre est obligatoire</mat-error>
  
          </mat-form-field>
          <!-- Grid column -->
      
          <!-- Grid column -->
          <mat-form-field class="col">
            <!-- Default input -->
            <input matInput type="text" class="form-control" placeholder="agent" formControlName="agent" (change)="valid()" [(ngModel)]="data.comp.agent">
            <mat-error *ngIf="form.get('agent').errors?.required">Le agent est obligatoire</mat-error>
  
          </mat-form-field>
          <mat-form-field class="col">
            <!-- Default input -->
            <input matInput class="form-control"  type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31"  formControlName="date" (change)="valid()" [(ngModel)]="data.comp.date">
            <mat-error *ngIf="form.get('date').errors?.required">Le date de retour est obligatoire</mat-error>

          </mat-form-field>
          <!-- Grid column -->
        </div>
    
        <!-- Grid row -->
        <div class="form-row m-2">
            <!-- Grid column -->
            <mat-form-field class="col-7">
              <!-- Default input -->
              <input matInput type="prix" class="form-control" placeholder="prix" formControlName="prix" (change)="valid()" [(ngModel)]="data.comp.prix">
              <mat-error *ngIf="form.get('prix').errors?.required">Le prix est obligatoire</mat-error>
  
            </mat-form-field>
            <!-- Grid column -->
        
            <!-- Grid column -->
            <mat-form-field class="col">
              <!-- Default input -->
              <textarea matInput type="text" class="form-control" placeholder="programme" formControlName="programme" (change)="valid()" [(ngModel)]="data.comp.programme"></textarea>

              <mat-error *ngIf="form.get('programme').errors?.required">Le programme est obligatoire</mat-error>
  
            </mat-form-field>
            
         
          </div>
         
         
          <div class="form-row m-2">
  
            <div class="col">
              <div>
                  <input type="file" name="image" (change)="selectMultipleImage($event)" accept="image/*" multiple/>
                </div>
                
          </div>
          <!-- Grid column -->
      
          <!-- Grid column -->
         
         
          </div>
          <div class="form-row m-2">
            <div class="col">
              <mat-grid-list cols="2" rowHeight="2:1" *ngIf="imageverif==false">
              <mat-grid-tile 
                *ngFor="let item of data.comp.image ; let index = index;">
                
            
                <img src="{{item}}" alt="image" style="margin-top: 8px;width: 100%;height: 100%;">
            
            
              </mat-grid-tile>
            </mat-grid-list>  
            </div>
           
  
          </div>
          <div class="form-row m-2">
            <div class="col">
              <mat-grid-list cols="2" rowHeight="2:1" *ngIf="form.get('image').valid && imageverif==true">
              <mat-grid-tile 
                *ngFor="let item of imagePreview2 ; let index = index;">
                
            
                <img src="{{item}}" alt="image" style="margin-top: 8px;width: 100%;height: 100%;">
            
            
              </mat-grid-tile>
            </mat-grid-list>  
            </div>
           
  
          </div>
          <div style="text-align: center;" >
            <button mat-button mat-dialog-close  type="button" (click)="onSubmit(data.comp._id)" [disabled]="! formvalid"  >Upload</button>
            <input  type="button" (click)="close()" value="close"/>
    
          </div>
         
    
      </form>
      <!-- Default column sizing form -->
    
    </section>