<h2 class="cyan-text d-flex justify-content-center mt-5 font-weight-bold" > {{first.titre}}</h2>

<div class="d-flex flex-row">
    <img style="width: 40%;height: 40%;" [src]="first.image" class="cyan-text rounded ml-5 d-block mt-5 img-fluid z-depth-1" alt="Responsive image">
    
    <div class="m-5" >
        <select  [(ngModel)]="e" class="browser-default custom-select" style="width: 50%;">
            <option  >Choisir votre date</option>
            <option *ngFor="let item of circuit"  >{{item.date | date:'yyyy/MM/dd'}}</option>
        </select>

        <div class="m-5" *ngFor="let it of circuit | soireeDatePipe:e">
           
            <h5 class="m-3">Tarif Chambre Single : {{it.venteadultesingle}}</h5>
            <h5 class="m-3">Tarif Chambre Double : {{it.venteadultedble}}</h5>
            <h5 class="m-3">Tarif Troisième Adulte : {{it.id}}</h5>

            <button mdbBtn type="button"  rounded="true"  color="orange"  data-toggle="modal" data-target="#basicExample"(click)="frame.show()" mdbWavesEffect>Réserver</button>
           
        </div>


    </div>
   
</div>    

<div class="justify-content-center mb-5" style="margin-left: 10%; margin-right: 10%;margin-top: 5%;" [innerHTML]="first.programme.programme| safeHtml" ></div>


<div mdbModal #frame="mdbModal" class="modal fade center" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog  modal-dialog-scrollable modal-lg  " role="document">
    <div class="modal-content">
            <div  class="modal-body mx-3 ">
              <div class=" cyan-text">
                  <div >
                    <div class="modal-header text-center" style="margin: 2%;">
                            <h4 class="modal-title w-100 orange-text font-weight-bold"> Informations de séjour </h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                            <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <div class="md-form form-sm"> <i class="fas fa-user prefix"></i>
                    <input [(ngModel)]="reservation.Nom" type="text" name="Nom" id="Nom" class="form-control form-control-sm" mdbInput>
                    <label for="Nom">Your name</label>
                    </div>
                    <div class="md-form .form-control-sm"> <i class="fas fa-envelope prefix"></i>
                    <input [(ngModel)]="reservation.Email" type="text" name="Email" id="Email" class="form-control form-control-sm" mdbInput >
                    <label for="Email">Your email</label>
                    </div>
                    <div class="md-form .form-control-sm"> <i class="fas fa-phone prefix" ></i>
                    <input [(ngModel)]="reservation.Tel" type="text" name="Tel" id="Tel" class="form-control form-control-sm" mdbInput >
                    <label for="Tel">Telephone</label>
                    </div>

                    <div class="md-form form-sm"> <i class="far fa-calendar-alt prefix"></i>
                    <input value="{{e}}"   class="form-control form-control-sm disabled" mdbInput>
                    </div>
                    <div class="md-form form-sm"> 
                        <a style="color: orangered;"  (click)="chambre()" mdbWavesEffect >Ajouter  une champbre</a>
                    </div>

                    <div >
                        <label class=" mr-3"  >Adulte :</label>
                        <label  class=" mr-3">Enfant(s) :</label>
                        <label  class=" mr-3">Bébé(s) :</label>


                    </div>

                    <div  value="nb" class="ml-3 row" *ngFor="let n of nbChambre;let i = index" id="rowid{{i}}" hidden=true>
                        

                        <h3 class="d-flex  flex-column  mr-3" >

                            <select   class="custom-select" id="homme{{i}}">
                                <option selected>0</option>
                                <option >1</option>
                                <option >2</option>
                                <option >3</option>
                                <option >4</option>
                                <option >5</option>
                                <option >6</option>
                            </select>
                        </h3>
                        <h3 class="d-flex flex-column mr-3" >
                            <select   class="custom-select" id="enfant{{i}}">
                              <option selected>0</option>
                              <option >1</option>
                              <option >2</option>
                              <option >3</option>
                              <option >4</option>
                            </select></h3>
                            <h3 class="d-flex flex-column mr-3" >

                                <select   class="custom-select" id="bebe{{i}}">
                                  <option selected>0</option>
                                  <option >1</option>
                                  <option >2</option>
                                </select>
                            </h3>
                            
                        <i style="color: orangered;" type="button" (click)="delchambre(i)" class="far  fa-trash-alt fa-2x"></i>
                            
                            
                    </div>

                    <div class="modal-footer row">
                        
                    <label class="col-2">Prix a payer : </label><input mdbInput type="text" class="form-control col-2" value="1000">Dt
                            
                      <button  class=" float-right " mdbBtn type="button"  rounded="true"  color="orange" outline="true" mdbWavesEffect (click)="affiche()" >Confirmer</button>
                    </div>
                  </div>
              </div>
                    
            </div>
            </div>
  </div>
