
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css" />

   
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">Services</h2>
                    <h3 class="text-muted section-subheading">Freedom Travel </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fas fa-search fa-stack-1x fa-inverse" ></i></span>
                    <h4 class="section-heading">Search</h4>
                    <p class="text-muted">Réservation des hotels et voyages en Tunisie et à  l'étranger.</p>
                </div>
                <div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-users fa-stack-1x fa-inverse" ></i></span>
                    <h4 class="section-heading">Voyages</h4>
                    <p class="text-muted">Une variété de programmes et des voyages organisés et planifiées avec soin.</p>
                </div>
                <div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="far fa-star fa-stack-1x fa-inverse" ></i></span>
                    <h4 class="section-heading">Explore</h4>
                    <p class="text-muted">Des excursions innovantes, des expéditions d'aventure, safaris, croisiére...</p>
                </div>
            </div>
        </div>
    </section>
    <div class="article-list">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Hôtels les plus vendus</h2>
                <p class="text-center">Les meilleurs hotels en Tunisie </p>
            </div>
            <div id="inam" class="carousel slide" data-ride="carousel" >
              <div class="carousel-inner">
                  <div class="carousel-item active" >
                    <div class="row articles">
                        <div class="col-sm-6 col-md-4 item" *ngFor="let item of listpersohotel.slice(0,3); let i = index ">
                          <a (click)="sauve(item)" *ngFor="let i of item.image; let index = index;"><img *ngIf="index===0" src="{{i}}" class="img-fluid" style="height: 30vh;" /></a>
                            <h3 class="name">{{item.nom}}</h3>
                            <p class="description">{{item.nom}}</p>
                        </div>
                      
                    </div>
                  </div>
                 
                  <div class="carousel-item" >
                    <div class="row articles">
                      <div class="col-sm-6 col-md-4 item" *ngFor="let item of listpersohotel.slice(3,6); let i = index "><a (click)="sauve(item)" *ngFor="let i of item.image; let index = index;"><img *ngIf="index===0" src="{{i}}" class="img-fluid" style="height: 30vh;"/></a>
                          <h3 class="name">{{item.nom}}</h3>
                          <p class="description">{{item.nom}}</p>
                      </div>
                    
                    </div>
                  </div>
                </div>
                <a href="#inam" class="carousel-control-prev" data-slide="prev">
                  <i class="fas fa-backward fa-2x" style="color: black;"></i>
                </a>
                <a href="#inam" class="carousel-control-next" data-slide="next">
                  <i class="fas fa-forward fa-2x" style="color: black;"></i>
                </a>
              </div>
        </div>
    </div>
    <section id="portfolio" class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">Voyages les plus vendus</h2>
                    <h3 class="section-subheading text-muted">Les meilleurs offre de voyages en Tunisie et à  l'étranger.</h3>
                </div>
            </div>
            <div class="row">

                <div class="col-sm-6 col-md-4 portfolio-item" *ngFor="let item of ListeVoyages; let index = index;">
                    <a  class="portfolio-link" data-toggle="modal" *ngFor="let i of item.image; let index = index;">
                        
                        <img *ngIf="index===0" src="{{i}}" class="img-fluid" /></a>
                    <div class="portfolio-caption">
                        <h4>{{item.titre}}</h4>
                        <p class="text-muted">
                         
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="article-list">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Circuits les plus vendus</h2>
                <p class="text-center">Découvrez le monde avec nos circuits organisés </p>
            </div>
            
            <div id="inam2" class="carousel slide" data-ride="carousel" >
              <div class="carousel-inner">
                  <div class="carousel-item active" >
                    <div class="row articles">
                      <div class="col-sm-6 col-md-4 item" *ngFor="let item of ListeCircuits.slice(0,3); let i = index ">
                        <a (click)="sauve(item)" *ngFor="let i of item.image; let index = index;"><img *ngIf="index===0" src="{{i}}" class="img-fluid" style="height: 30vh;"/></a>
                          <h3 class="name">{{item.nom}}</h3>
                          <p class="description"></p>
                      </div>
                     
                  </div>
                  </div>
                 
                  <div class="carousel-item" >
                    <div class="row articles">
                      <div class="col-sm-6 col-md-4 item" *ngFor="let item of ListeCircuits.slice(3,6); let i = index ">
                        <a (click)="sauve(item)" *ngFor="let i of item.image; let index = index;"><img *ngIf="index===0" src="{{i}}" class="img-fluid" style="height: 30vh;"/></a>
                          <h3 class="name">{{item.nom}}</h3>
                          <p class="description"></p>
                      </div>
                     
                  </div>
                  </div>
                </div>
                <a href="#inam2" class="carousel-control-prev" data-slide="prev">
                  <i class="fas fa-backward fa-2x" style="color: black;"></i>
                </a>
                <a href="#inam2" class="carousel-control-next" data-slide="next">
                  <i class="fas fa-forward fa-2x" style="color: black;"></i>
                </a>
              </div>
    </div>
    </div>
    
    <div class="photo-gallery">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Top Soirées</h2>
                <p class="text-center"> </p>
            </div>
          
            <div class="row photos">
                <div class="col-sm-6 col-md-4 col-lg-3 item" *ngFor="let item of ListeSoiree; let i = index ">
                <a  data-lightbox="photos" *ngFor="let i of item.image; let index = index;"><img class="img-fluid" src="{{i}}" /></a></div>
                
            </div>
        </div>
    </div>

 <app-contact></app-contact>
    


