<table width = "100%" >
  <tr valign = "top">
      <td  width = "20%" >
          <div class="card ml-3 mt-5">
              <article class="card-group-item">
                  <header class="card-header cyan">
                      <h4 class="title font-weight-bold  white-text text-center">Filtre </h4>
                  </header>
                      
                  <div class="filter-content">
                      <div class="card-body">

                          <div class="form-row">
                              <div class="form-group col-md-6">
                                  <label>Prix Minimal : {{min}}</label>
                                  <div class="slidecontainer">
                                      <input type="range" min="1" max="3000" value="{{min}}" class="slider" id="myRange" [(ngModel)]= "min" (change)="testing4()">
                                  </div>
                              </div>

                              <div class="form-group col-md-6 text-left">
                                  <label>Prix Maximal : {{max}}</label>
                                  <div class="slidecontainer">
                                      <input type="range" min="1" max="3000" value="{{max}}" class="slider" id="myRange" [(ngModel)]= "max" (change)="testing4()">
                                  </div>

                              </div>

                              <ejs-datepicker  [(ngModel)]= "date"  (change)="testing4()" style="width: 100%; margin-top: 5%;"></ejs-datepicker>`
                                  
                          </div>
                          
                      </div>
                  </div>
              </article>
          </div> <!-- card.// -->
      </td>
      <td  style="width: 50%;">

          <div class="md-form"style="margin-left: 9%;margin-top:5%; margin-right: 40%;">
              <input mdbInput type="text" name="text" [(ngModel)]="text" id="form1" class="form-control" (click)="testing1()">
              <label for="form1" class="">Taper le nom de l'Omra</label>
          </div>
          <h3 class="md-5 mt-5 ml-5 orange-text font-weight-bold" style="margin-left: 5%;">L'Omra Rechercher est : {{text}}</h3>


          <div class="d-flex flex-wrap justify-content-center " *ngIf="test==='f'">
              <div>
                  <div class="card" style="width: 35%;margin:5%;" *ngFor="let item of  ListeOmra | dateFilterOmra:date | prixFilterOmra:min:max">
            
                      <img style="height: 200px;" class="card-img-top" src="http://freedomtravel.tn/assets/images/omra1.jpg" alt="Card image cap">
              
          
                      <div class="card-body d-flex flex-column">

                          <h5 class="card-title orange-text font-weight-bold">{{item.titre}}</h5>
                          <h5 ><mdb-icon fas icon="plane-departure" style="margin-right: 2%;color: blue;"></mdb-icon>{{item.date | date:'longDate'}}</h5>
                  
                          <div style=" margin-top: auto;">
                              <button type="button" mdbBtn color="cyan" rounded="true" data-toggle="modal" data-target="#basicExample"  (click)="DateTitre(item.titre,item.date,item.prix,item.programme)"  mdbWavesEffect>Voir programme</button>    
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="d-flex flex-wrap justify-content-center " *ngIf="test==='f'">
            <div>
                <div class="card" style="width: 35%;margin:5%;" *ngFor="let item of  ListeOmraBase | dateFilterOmra:date | prixFilterOmra:min:max">
          
                  <div *ngFor="let i of item.image; let index = index;">
                    <img style="height: 200px;" class="card-img-top" *ngIf="index===0" [src]="i" alt="Card image cap" >
                </div>
        
                    <div class="card-body d-flex flex-column">

                        <h5 class="card-title orange-text font-weight-bold">{{item.titre}}</h5>
                        <h5 ><mdb-icon fas icon="plane-departure" style="margin-right: 2%;color: blue;"></mdb-icon>{{item.date | date:'longDate'}}</h5>
                
                        <div style=" margin-top: auto;">
                            <button type="button" mdbBtn color="cyan" rounded="true" data-toggle="modal" data-target="#basicExample"  (click)="DateTitre(item.titre,item.date,item.prix,item.programme)"  mdbWavesEffect>Voir programme</button>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
          <div class="d-flex flex-wrap justify-content-center " *ngIf="test===''" >
              <div>
                  <div class="card" style="width: 35%;margin:5%;" *ngFor="let item of  ListeOmra | rechercheFilterOmra:text">
            
                      <img style="height: 200px;" class="card-img-top" src="http://freedomtravel.tn/assets/images/omra1.jpg" alt="Card image cap">
              
          
                      <div class="card-body d-flex flex-column">

                          <h5 class="card-title orange-text font-weight-bold">{{item.titre}}</h5>
                          <h5 ><mdb-icon fas icon="plane-departure" style="margin-right: 2%;color: blue;"></mdb-icon>{{item.date | date:'longDate'}}</h5>
                  
                          <div style=" margin-top: auto;">
                              <button type="button" mdbBtn color="cyan" rounded="true" data-toggle="modal" data-target="#basicExample"  (click)="DateTitre(item.titre,item.date,item.prix,item.programme)"  mdbWavesEffect>Voir programme</button>    
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="d-flex flex-wrap justify-content-center " *ngIf="test===''" >
            <div>
                <div class="card" style="width: 35%;margin:5%;" *ngFor="let item of  ListeOmraBase | rechercheFilterOmra:text">
          
                  <div *ngFor="let i of item.image; let index = index;">
                    <img style="height: 200px;" class="card-img-top" *ngIf="index===0" [src]="i" alt="Card image cap">
                </div>
        
                    <div class="card-body d-flex flex-column">

                        <h5 class="card-title orange-text font-weight-bold">{{item.titre}}</h5>
                        <h5 ><mdb-icon fas icon="plane-departure" style="margin-right: 2%;color: blue;"></mdb-icon>{{item.date | date:'longDate'}}</h5>
                
                        <div style=" margin-top: auto;">
                            <button type="button" mdbBtn color="cyan" rounded="true" data-toggle="modal" data-target="#basicExample"  (click)="DateTitre(item.titre,item.date,item.prix,item.programme)"  mdbWavesEffect>Voir programme</button>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </td>
      

      <td style="width: 25%;">
          <div class="card float-right" style="margin: 2%; " >
              <ngb-tabset style="margin: 2%;" type="pills" justify="end">
                  <ngb-tab title="الوثائق المطلوبة للتسجيل">
                      <ng-template ngbTabContent>
                          <h5 style="margin: 5%; text-align: right;">التأكّد من اختيار صنف السّكن حيث يكون نهائيّا و لا يمكن تغييره بعد التّسجيل</h5>
          
                          <h5 style="margin: 5%; text-align: right;">جواز سفر صلاحيته أكثر من ثمانية أشهر ابتداء من تاريخ السّفر</h5>
                  
                          <h5 style="margin: 5%; text-align: right;">3 صور شمسية خلفية بيضاء</h5>
                  
                          <h5 style="margin: 5%; text-align: right;">مرافقة بمحرم شرعي بالنسبة للسّيدات سنهن دون 45 سنة</h5>
                  
                          <h5 style="margin: 5%; text-align: right;">دفتر تلقيح ضد الحمى الشوكية معهد باستور لم يمض عليه 3 سنوات</h5>
                  
                          <h5 style="margin: 5%; text-align: right;">ترخيص الزوج معرف بإمضاء بالنّسبة للسّيدات المتزوجات المسافرات بمفردهن</h5>
                  
                          <h5 style="margin: 5%; text-align: right;">نسخة من بطاقة التعريف الوطنية</h5>
                      </ng-template>
                  </ngb-tab>
                  <ngb-tab>
                      <ng-template ngbTabTitle> السعر يشمل</ng-template>
                          <ng-template ngbTabContent>
                              
                              <h5 style="margin: 5%; text-align: right;">الحصول على التأشيرة عن طريق الوكالة</h5>
                      
                              <h5 style="margin: 5%; text-align: right;">تذكرة الطائرة تونس جدة ، جدة تونس على متن الخطوط التونسية</h5>
                      
                              <h5 style="margin: 5%; text-align: right;">التنقل من المطار إلى النزل بالمدينة المنورة</h5>
                      
                              <h5 style="margin: 5%; text-align: right;">الإقامة 07 ليالي بالمدينة المنورة في نزل رويال المكارم 4* الّذي يقع في المنطقة المركزية على بعد 150 مترا</h5>
                      
                              <h5 style="margin: 5%; text-align: right;">التنقل من المدينة المنورة إلى مكة المكرمة على متن حافلات مكيفة و حديثة</h5>
                      
                              <h5 style="margin: 5%; text-align: right;">الإقامة 07 ليالي بمكة المكرمة في نزل دار الإيمان جراند 5* الّذي يقع في شارع ابراهيم الخليل على بعد 600 مترا من الحرم المكي</h5>
          
                              <h5 style="margin: 5%; text-align: right;">التنقل من مكة المكرمة إلى المطار</h5>
                              
                              <h5 style="margin: 5%; text-align: right;">التنقل من المدينة المنورة إلى مكة المكرمة على متن الحافلة</h5>
                                              
                          </ng-template>
                  </ngb-tab>
                                      
              </ngb-tabset>
                                                      
          </div>
      </td>

  </tr>
</table>