<div class="panel-header panel-header-lg">
  <canvas baseChart id="bigDashboardChart"
              [datasets]="lineBigDashboardChartData"
              [labels]="lineBigDashboardChartLabels"
               [colors]="lineBigDashboardChartColors"
              [options]="lineBigDashboardChartOptions"
              [chartType]="lineBigDashboardChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
</div>

<div class="main-content">
<div class="row">
  <div class="col-lg-4">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">Voyages Sales</h5>
        <h4 class="card-title">Commandes</h4>
        <div ngbDropdown>
          <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
            <i class="now-ui-icons loader_gear"></i>
          </button>
          <div ngbDropdownMenu class="dropdown-menu-right">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <a class="dropdown-item text-danger" href="#">Remove Data</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <canvas baseChart id="lineChartExample"
                      [datasets]="lineChartData"
                      [labels]="lineChartLabels"
                      [colors]="lineChartColors"
                      [options]="lineChartOptions"
                      [chartType]="lineChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">Omra Sales</h5>
        <h4 class="card-title">All commandes</h4>
        <div ngbDropdown>
          <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
            <i class="now-ui-icons loader_gear"></i>
          </button>
          <div ngbDropdownMenu class="dropdown-menu-right">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <a class="dropdown-item text-danger" href="#">Remove Data</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <!-- <canvas id="lineChartExampleWithNumbersAndGrid"></canvas> -->
          <canvas baseChart id="lineChartExampleWithNumbersAndGrid"
                      [datasets]="lineChartWithNumbersAndGridData"
                      [labels]="lineChartWithNumbersAndGridLabels"
                      [colors]="lineChartWithNumbersAndGridColors"
                      [options]="lineChartWithNumbersAndGridOptions"
                      [chartType]="lineChartWithNumbersAndGridType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">circuits Sales</h5>
        <h4 class="card-title">24 Hours Performance</h4>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <canvas baseChart id="barChartSimpleGradientsNumbers"
                      [datasets]="lineChartGradientsNumbersData"
                      [labels]="lineChartGradientsNumbersLabels"
                      [colors]="lineChartGradientsNumbersColors"
                      [options]="lineChartGradientsNumbersOptions"
                      [chartType]="lineChartGradientsNumbersType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="now-ui-icons ui-2_time-alarm"></i> Last 7 days
        </div>
      </div>
    </div>
  </div>
<div  style="width: 100%;display: flex;">
<div style="width: 50%;margin-bottom: 2em;">
  <canvas id="bar-chart-horizontal"></canvas>
</div>

<div style="width: 50%;margin-bottom: 2em;">
  <canvas id="doughnut"></canvas>
</div>
</div>

</div>

</div>
