
<!-- Default column sizing form -->
<section style="width: 100%;height: 100%;">
  <h1 style="text-align: center;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">ADD HOTEL</h1>
  <hr>
  <form [formGroup]="form" >
      <!-- Grid row -->
      <div class="form-row m-2">
        <!-- Grid column -->
        <mat-form-field class="col">
          <!-- Default input -->
          <input matInput type="text" class="form-control" placeholder="id" formControlName="id" (change)="valid()">
          <mat-error *ngIf="form.get('id').errors?.required">Le id est obligatoire</mat-error>

        </mat-form-field>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <mat-form-field class="col">
          <!-- Default input -->
          <input matInput type="text" class="form-control" placeholder="nom" formControlName="nom" (change)="valid()">
          <mat-error *ngIf="form.get('nom').errors?.required">Le nom est obligatoire</mat-error>

        </mat-form-field>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <mat-form-field class="col">
          <!-- Default input -->
          <input matInput type="text" class="form-control" placeholder="adultOnly" formControlName="adultOnly" (change)="valid()">
          <mat-error *ngIf="form.get('adultOnly').errors?.required">Le adultOnly est obligatoire</mat-error>

        </mat-form-field>
        <mat-form-field class="col">
          <!-- Default input -->
          <input matInput type="text" class="form-control" placeholder="ville" formControlName="ville" (change)="valid()">
          <mat-error *ngIf="form.get('ville').errors?.required">Le ville est obligatoire</mat-error>

        </mat-form-field>
        <!-- Grid column -->
      </div>
      <div class="form-row m-2">
          
          <mat-form-field class="col">
            <!-- Default input -->
            <input matInput type="text" class="form-control" placeholder="categorie" formControlName="categorie" (change)="valid()">
            <mat-error *ngIf="form.get('categorie').errors?.required">Le categorie est obligatoire</mat-error>

          </mat-form-field>
          <!-- Grid column -->
      
          <!-- Grid column -->
          <mat-form-field class="col">
            <!-- Default input -->
            <input matInput type="text" class="form-control" placeholder="type" formControlName="type" (change)="valid()">
            <mat-error *ngIf="form.get('type').errors?.required">Le type est obligatoire</mat-error>

          </mat-form-field>
          <!-- Grid column -->
        </div>
      <!-- Grid row -->
      <div class="form-row m-2">
          <!-- Grid column -->
          <mat-form-field class="col">
            <!-- Default input -->
            <input matInput type="number" class="form-control" placeholder="lpdvente" formControlName="lpdvente" (change)="valid()">
            <mat-error *ngIf="form.get('lpdvente').errors?.required">Le lpdvente est obligatoire</mat-error>

          </mat-form-field>
          <!-- Grid column -->
      
          <!-- Grid column -->
          <mat-form-field class="col">
            <!-- Default input -->
            <input matInput type="number" class="form-control" placeholder="dpvente" formControlName="dpvente" (change)="valid()">
            <mat-error *ngIf="form.get('dpvente').errors?.required">Le dpvente est obligatoire</mat-error>

          </mat-form-field>
          
        </div>
        <div class="form-row m-2">
          <mat-form-field class="col">
            <!-- Default input -->
            <input matInput type="number" class="form-control" placeholder="pcvente" formControlName="pcvente" (change)="valid()">
            <mat-error *ngIf="form.get('pcvente').errors?.required">Le pcvente est obligatoire</mat-error>

          </mat-form-field>
          <mat-form-field class="col">
            <!-- Default input -->
            <input matInput type="number" class="form-control" placeholder="allinsoftvente" formControlName="allinsoftvente" (change)="valid()">
            <mat-error *ngIf="form.get('allinsoftvente').errors?.required">Le allinsoftvente est obligatoire</mat-error>

          </mat-form-field>
         

      

          <mat-form-field class="col">
            <!-- Default input -->
            <input matInput type="number" class="form-control" placeholder="allinvente" formControlName="allinvente" (change)="valid()">
            <mat-error *ngIf="form.get('allinvente').errors?.required">Le allinvente est obligatoire</mat-error>

          </mat-form-field>
          <!-- Grid column -->
      
          <!-- Grid column -->
          <mat-form-field class="col">
            <!-- Default input -->
            <input matInput type="number" class="form-control" placeholder="ultraallinvente" formControlName="ultraallinvente" (change)="valid()">
            <mat-error *ngIf="form.get('ultraallinvente').errors?.required">Le ultraallinvente est obligatoire</mat-error>

          </mat-form-field>

          <mat-form-field class="col">
            <!-- Default input -->
            <input matInput type="number" class="form-control" placeholder="age_enf_gratuit" formControlName="age_enf_gratuit" (change)="valid()">
            <mat-error *ngIf="form.get('age_enf_gratuit').errors?.required">Le age_enf_gratuit est obligatoire</mat-error>

          </mat-form-field>
        </div>
       
        <div class="form-row m-2">

          <div class="col">
            <div>
                <input type="file" name="image" (change)="selectMultipleImage($event)" accept="image/*" multiple/>
              </div>
              
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
       
       
        </div>
        <div class="form-row m-2">
          <div class="col">
            <mat-grid-list cols="2" rowHeight="2:1" *ngIf="form.get('image').valid && imageverif==true">
            <mat-grid-tile 
              *ngFor="let item of imagePreview2 ; let index = index;">
              
          
              <img src="{{item}}" alt="image" style="margin-top: 8px;width: 100%;height: 100%;">
          
          
            </mat-grid-tile>
          </mat-grid-list>  
          </div>
         

        </div>
        <div style="text-align: center;" >
          <button mat-button mat-dialog-close  type="button" (click)="onSubmit()" [disabled]="! formvalid"  >Upload</button>
          <input  type="button" (click)="close()" value="close"/>
  
        </div>
       
  
    </form>
    <!-- Default column sizing form -->
  
  </section>