img{
  width: 100%; /* Full-width */
  height: 400px; 
}
ngb-carousel{
  width: 80%;
 margin: auto; 
}
.checked{
color:orange;
}
.col-xs-12 {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
}
.detail{
  width: 80%;
text-align: center;
margin: auto;
}
.formReservation{
  width: 100%;
  margin-top: 5%;
  margin-right: 2%;
  color: blue;
}
.divContainer{
  background: url("https://image.freepik.com/photos-gratuite/texture-marbre-blanc-pour-abstrait_28586-1427.jpg")no-repeat;
  /*background: ("assets/navbar.jpg")no-repeat center center;*/
  background-size: cover;
}
.perso{
  display: flex;
  width: 100%;
}