<table width = "100%" >
    <tr valign = "top">
        <td  width = "30%" >
            <div class="card ml-3 mt-5"> 
                <article class="card-group-item">
                    <header class="card-header cyan">
                        <h4 class="title font-weight-bold  white-text text-center">Filtre </h4>
                    </header>
                    <div class="filter-content">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Prix Minimal : {{min}}</label>
                                    <div class="slidecontainer">
                                        <input type="range" min="1" max="3000" value="{{min}}" class="slider" id="myRange" [(ngModel)]= "min" (change)="testing4()">
                                    </div>
                                </div>
                                <div class="form-group col-md-6 text-left">
                                    <label>Prix Maximal : {{max}}</label>
                                    <div class="slidecontainer">
                                        <input type="range" min="1" max="3000" value="{{max}}" class="slider" id="myRange" [(ngModel)]= "max" (change)="testing4()">
                                    </div>
                                </div>
                                <select [(ngModel)]= "pays" (click)="testing4()" class="browser-default custom-select">
                                  <option selected>Liste des Villes</option>
                                  <option *ngFor="let item of listPays"  >{{item}}</option>
                              </select>
                                <ejs-datepicker  [(ngModel)]= "d"  style="width: 100%; margin-top: 5%;" (change)="testing4()"></ejs-datepicker>`
                            </div>
                        </div>
                    </div>
                </article>
            </div> <!-- card.// -->
        </td>
        <td width = "70%" height = "200">
          <div class="md-form"style="margin-left: 9%;margin-top:5%; margin-right: 40%;">
              <input mdbInput type="text" name="text" [(ngModel)]="text" id="form1" class="form-control"(click)="testing1()"  >
              <label for="form1" class="">Taper le nom du Voyage</label>
          </div>
          <h3 class="md-5 mt-5 ml-5 orange-text font-weight-bold" style="margin-left: 5%;">Le Voyage Rechercher est : {{text}}</h3>
  
  
          <div class="d-flex flex-wrap justify-content-center " *ngIf="test===''">
              <div class="card" style="width: 25rem;margin: 2%;"*ngFor="let item of ListeVoyagesBase | rechercheFilterVoyage:text">
                  <div *ngFor="let i of item.image; let index = index;">
                  <img class="card-img-top" *ngIf="index===0" [src]="i" alt="Card image cap">
              </div>
              <div class="card-body d-flex flex-column">
                  <h5 class="card-title orange-text font-weight-bold">{{item.titre}}</h5>
                  <i class="fa fa-map-marker cyan-text mt-3" > {{item.pays}}</i><br>
                  <h5><mdb-icon  fas icon="plane-departure" style="margin-right: 2%;color: blue;"></mdb-icon>{{item.departvoyages.datedepart | date:'longDate'}}</h5>
                  <h5 style="text-align: right;"><mdb-icon fas icon="plane-arrival" style="margin-right: 2%;color: blue;"></mdb-icon>{{ item.departvoyages.dateretour | date:'longDate'}}</h5>
  
           
  
          
  
          
                  <div style=" margin-top: auto;">
                      <a (click)="sourceBase(item)" [routerLink]="['/ReservationVoyage', item.id]"  style="color: orangered;"  >Voir d'autres départs</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="d-flex flex-wrap justify-content-center " *ngIf="test===''">
          <div class="card" style="width: 25rem;margin: 2%;"*ngFor="let item of ListeVoyages | rechercheFilterVoyage:text">
              <div *ngFor="let i of item.imageVoyages">
              <img class="card-img-top" src="https://www.freedomtravel.tn/assets/images/4/{{item.id}}/{{i.nom}}" alt="Card image cap">
          </div>
          <div class="card-body d-flex flex-column">
              <h5 class="card-title orange-text font-weight-bold">{{item.titre}}</h5>
              <i *ngFor="let pays of item.pays" class="fa fa-map-marker cyan-text mt-3" > {{pays.libelle}}</i><br>
  
          
              <div  *ngFor="let datevoyage of item.departvoyages; let isFirst = first">
                  <h5 *ngIf="isFirst"><mdb-icon  fas icon="plane-departure" style="margin-right: 2%;color: blue;"></mdb-icon>{{datevoyage.datedepart | date:'longDate'}}</h5>
                  <h5 style="text-align: right;" *ngIf="isFirst"><mdb-icon fas icon="plane-arrival" style="margin-right: 2%;color: blue;"></mdb-icon>{{ datevoyage.dateretour | date:'longDate'}}</h5>
              </div>
  
      
  
      
              <div style=" margin-top: auto;">
                  <a (click)="sourceApi(item)" [routerLink]="['/ReservationVoyage', item.id]"  style="color: orangered;"  >Voir d'autres départs</a>
              </div>
          </div>
      </div>
  </div>
      <div class="d-flex flex-wrap justify-content-center " *ngIf="test==='f'">
          <div class="card" style="width: 25rem;margin: 2%;"*ngFor="let item of ListeVoyagesBase | dateFilterVoyage:d:'base' | prixFilterVoyage:min:max:'base' | paysFiltreVoyage:pays:'api'">
              <div *ngFor="let i of item.image; let index = index;">
              <img class="card-img-top" *ngIf="index===0" [src]="i" alt="Card image cap">
          </div>
          <div class="card-body d-flex flex-column">
              <h5 class="card-title orange-text font-weight-bold">{{item.titre}}</h5>
              <i class="fa fa-map-marker cyan-text mt-3" > {{item.pays}}</i><br>
              <h5><mdb-icon  fas icon="plane-departure" style="margin-right: 2%;color: blue;"></mdb-icon>{{item.departvoyages.datedepart | date:'longDate'}}</h5>
              <h5 style="text-align: right;"><mdb-icon fas icon="plane-arrival" style="margin-right: 2%;color: blue;"></mdb-icon>{{ item.departvoyages.dateretour | date:'longDate'}}</h5>
  
           
  
      
  
      
              <div style=" margin-top: auto;">
                  <a (click)="sourceBase(item)" [routerLink]="['/ReservationVoyage', item._id]"  style="color: orangered;"  >Voir d'autres départs</a>
              </div>
          </div>
      </div>
  </div>
  <div class="d-flex flex-wrap justify-content-center " *ngIf="test==='f'">
      <div class="card" style="width: 25rem;margin: 2%;"*ngFor="let item of ListeVoyages | dateFilterVoyage:d:'api' | prixFilterVoyage:min:max:'api' | paysFiltreVoyage:pays:'api'">
          <div *ngFor="let i of item.imageVoyages">
          <img class="card-img-top" src="https://www.freedomtravel.tn/assets/images/4/{{item.id}}/{{i.nom}}" alt="Card image cap">
      </div>
      <div class="card-body d-flex flex-column">
          <h5 class="card-title orange-text font-weight-bold">{{item.titre}}</h5>
          <i *ngFor="let pays of item.pays" class="fa fa-map-marker cyan-text mt-3" > {{pays.libelle}}</i><br>
  
      
          <div  *ngFor="let datevoyage of item.departvoyages; let isFirst = first">
              <h5 *ngIf="isFirst"><mdb-icon  fas icon="plane-departure" style="margin-right: 2%;color: blue;"></mdb-icon>{{datevoyage.datedepart | date:'longDate'}}</h5>
              <h5 style="text-align: right;" *ngIf="isFirst"><mdb-icon fas icon="plane-arrival" style="margin-right: 2%;color: blue;"></mdb-icon>{{ datevoyage.dateretour | date:'longDate'}}</h5>
          </div>
  
  
          <div style=" margin-top: auto;">
              <a (click)="sourceApi(item)" [routerLink]="['/ReservationVoyage', item.id]"  style="color: orangered;"  >Voir d'autres départs</a>
          </div>
      </div>
  </div>
  </div>
  
        </td>
    </tr>
  </table>