<div class="card-body">
    <div class="search-div">
  
        <button type="button" class="btn btn-success" (click)="voyageconfirmer()">Confirmer</button>                  
      <mat-form-field class="search-form-field" floatLabel="never" style="background: white;">
        <input matInput style="background: white;" [(ngModel)]="voyagesearchKey" placeholder="Search" autocomplete="off" (keyup)="applyVoyageFilter()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="voyagesearchKey"  (click)="onVoyageSearchClear()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="mat-elevation-z8 container">
      <mat-table [dataSource]="voyagelistData"  matSort>
        <ng-container matColumnDef="titre">
          <mat-header-cell *matHeaderCellDef  mat-sort-header style="color: blue;"> Titre</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.titre}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef  mat-sort-header style="color: blue;">Id</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
          <mat-cell *matCellDef="let row ">
            <input type="checkbox" (change)="voyagecheck(row)"   name="scales">
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="loading">
          <mat-footer-cell *matFooterCellDef colspan="6">
            Loading data...
          </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
          <mat-footer-cell *matFooterCellDef colspan="6">
            No data.
          </mat-footer-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="voyagedisplayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: voyagedisplayedColumns;"></mat-row>
        <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':voyagelistData!=null}"></mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(voyagelistData!=null && voyagelistData.data.length==0)}"></mat-footer-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
    </div>
  
  </div>