
<div class="logo">
    <a href="assets/logo.png" class="simple-text logo-mini">
      <div class="logo-img">
          <img src="assets/logo.png"/>
      </div>
    </a>
    <a href="https://www.creative-tim.com" class="simple-text logo-normal">
        Freedom Travel
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems"  class="{{menuItem.class}} nav-item">
            <a *ngIf="menuItem.visibility==true"  [routerLink]="[menuItem.path]">
                <i class="now-ui-icons {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
