.view {
    background: url("https://www.avenue14.net/wp-content/uploads/2019/10/tunisie.jpg")no-repeat center center;
    /*background: ("assets/navbar.jpg")no-repeat center center;*/
    background-size: cover;
}

.navbar {
    background-color: transparent;
}
.top-nav-collapse {
    background-color: rgb(0,0, 255, 0.5);
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}

.vcarrouselContainer{
    width: 100%;
    top: -100;
    position: relative;
    z-index: 1;
  }
  #toast-container > div {
    opacity: 1;
  }
  .toast {
    font-size: initial !important;
    border: initial !important;
    backdrop-filter: blur(0) !important;
  }
  .toast-success {
    background-color: #51A351 !important;
  }
  .toast-error {
    background-color: #BD362F !important;
  }
  .toast-info {
    background-color: #2F96B4 !important;
  }
  .toast-warning {
    background-color: #F89406 !important;
  }