<h1 style="text-align: center;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Contact</h1>
  <hr>
<div class="row">
  
            <!-- Form contact -->

            <form  [formGroup]="reactiveform" action="">
                <table>
                    <tr>
                        <td>
                            <i class="fas fa-user prefix"></i>
                            <label >Nom:{{contact.nom}}</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fas fa-envelope prefix"></i>
                             <label>Email:{{contact.email}}</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fas fa-phone prefix" ></i>
                            <label >Telephone:{{contact.tel}}</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fas fa-tag prefix"></i>
                            <label >Subject:{{contact.sujet}}</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fas fa-tag prefix"></i>
                            <label >Message:{{contact.message}}</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fas fa-pencil-alt prefix"></i>
                            <textarea type="text" name="response" placeholder="Your response" class="md-textarea form-control form-control-sm" rows="4" mdbInput [(ngModel)]="contact.response" formControlName="response"></textarea>
                            <mat-error *ngIf="reactiveform.get('response').errors?.required  ">response is required</mat-error>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="text-center mt-4">
                                <button  mdbBtn type="button" color="warning" (click)= "envoyer()" outline="true" [disabled]="reactiveform.invalid" dbWavesEffect>Envoyer</button>
                            </div>
                        </td>
                        <td>
                            <div class="text-center mt-4">
                                <button  mdbBtn type="button" color="warning" (click)= "close()" outline="true"  dbWavesEffect>close</button>
                            </div>
                        </td>
                    </tr>
                </table>
             
            
              
            </form>
            <!-- Form contact -->
</div>