<div class="panel-header panel-header-sm"></div>

<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <ngb-tabset  type="pills" style="margin: 2%;">

          <ngb-tab title="Hotels" click ="GetListeReservationAccepter('Hotels')">
                <ng-template ngbTabContent>
                          
                  <div class="card-header">
                      <h5 class="title">Reservations En Attente</h5>
                  </div>
                  <div class="card-body">
                      <div class="search-div">
                      
                      <mat-form-field class="search-form-field" floatLabel="never" style="background: white;">
                          <input matInput style="background: white;" [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
                          <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey"  (click)="onSearchClear()">
                          <mat-icon>close</mat-icon>
                          </button>
                      </mat-form-field>
                      </div>
                      <div class="mat-elevation-z8 container">
  
                      <mat-table [dataSource]="listeHotel"  matSort>
  
                          <ng-container matColumnDef="Titre">
                          <mat-header-cell *matHeaderCellDef  mat-sort-header style="color: blue;"> Titre</mat-header-cell>
                          <mat-cell *matCellDef="let element">{{element.Titre}}</mat-cell>
                          </ng-container>
  
                          <ng-container matColumnDef="Etat">
                          <mat-header-cell *matHeaderCellDef  mat-sort-header style="color: blue;">Etat</mat-header-cell>
                          <mat-cell *matCellDef="let element">{{element.Etat}}</mat-cell>
                          </ng-container>
  
                          <ng-container matColumnDef="Nom">
                          <mat-header-cell *matHeaderCellDef  mat-sort-header style="color: blue;">Nom</mat-header-cell>
                          <mat-cell *matCellDef="let element">{{element.Nom}}</mat-cell>
                          </ng-container>
                          
                          <ng-container matColumnDef="actions">
                          <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                          <mat-cell *matCellDef="let row">
                              <a  title="Delete" style="color: #E34724;" data-toggle="tooltip" (click)="deleteReservation(row._id,'Hotels') "><i class="material-icons">&#xE872;</i></a>
                              <button   mdbBtn type="button"  rounded="true"  color="orange" outline="true"  mdbWavesEffect >Afficher</button>
  
                          </mat-cell>
                          </ng-container>
  
                          <ng-container matColumnDef="loading">
                          <mat-footer-cell *matFooterCellDef colspan="4">
                              Loading data...
                          </mat-footer-cell>
                          </ng-container>
  
                          <ng-container matColumnDef="noData">
                          <mat-footer-cell *matFooterCellDef colspan="4">
                              No data.
                          </mat-footer-cell>
                          </ng-container>
  
                          <mat-header-row *matHeaderRowDef="ReservationAccepterColumns"></mat-header-row>
  
                          <mat-row *matRowDef="let row; columns: ReservationAccepterColumns;"></mat-row>
  
                          <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listeHotel!=null}"></mat-footer-row>
  
                          <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listeHotel!=null && listeHotel.data.length==0)}"></mat-footer-row>
  
                      </mat-table>
  
                      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
                      </div>
                  
                  </div>
                              
                          
                  </ng-template>
          </ngb-tab>    
  
          <ngb-tab title="Voyages" >
            <ng-template ngbTabContent>
                      
              <div class="card-header">
                  <h5 class="title">Reservations En cour</h5>
              </div>
              <div class="card-body">
                  <div class="search-div">
                  
                  <mat-form-field class="search-form-field" floatLabel="never" style="background: white;">
                      <input matInput style="background: white;" [(ngModel)]="searchKey2" placeholder="Search" autocomplete="off" (keyup)="applyFilter2()">
                      <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey2"  (click)="onSearchClear2()">
                      <mat-icon>close</mat-icon>
                      </button>
                  </mat-form-field>
                  </div>
                  <div class="mat-elevation-z8 container">
  
                  <mat-table [dataSource]="listeVoyage"  matSort>
  
                      <ng-container matColumnDef="Titre">
                      <mat-header-cell *matHeaderCellDef  mat-sort-header style="color: blue;"> Titre</mat-header-cell>
                      <mat-cell *matCellDef="let element">{{element.Titre}}</mat-cell>
                      </ng-container>
  
                      <ng-container matColumnDef="Etat">
                      <mat-header-cell *matHeaderCellDef  mat-sort-header style="color: blue;">Etat</mat-header-cell>
                      <mat-cell *matCellDef="let element">{{element.Etat}}</mat-cell>
                      </ng-container>
  
                      <ng-container matColumnDef="Nom">
                      <mat-header-cell *matHeaderCellDef  mat-sort-header style="color: blue;">Nom</mat-header-cell>
                      <mat-cell *matCellDef="let element">{{element.Nom}}</mat-cell>
                      </ng-container>
                      
                      <ng-container matColumnDef="actions">
                      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                      <mat-cell *matCellDef="let row">
                          <a  title="Delete" style="color: #E34724;" data-toggle="tooltip" (click)="deleteReservation(row._id,'Voyages') "><i class="material-icons">&#xE872;</i></a>
                          <button   mdbBtn type="button"  rounded="true"  color="orange" outline="true"  mdbWavesEffect  >Afficher</button>
  
                      </mat-cell>
                      </ng-container>
  
                      <ng-container matColumnDef="loading">
                      <mat-footer-cell *matFooterCellDef colspan="4">
                          Loading data...
                      </mat-footer-cell>
                      </ng-container>
  
                      <ng-container matColumnDef="noData">
                      <mat-footer-cell *matFooterCellDef colspan="4">
                          No data.
                      </mat-footer-cell>
                      </ng-container>
  
                      <mat-header-row *matHeaderRowDef="ReservationAccepterColumns"></mat-header-row>
  
                      <mat-row *matRowDef="let row; columns: ReservationAccepterColumns;"></mat-row>
  
                      <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listeVoyage!=null}"></mat-footer-row>
  
                      <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listeVoyage!=null && listeVoyage.data.length==0)}"></mat-footer-row>
  
                  </mat-table>
  
                  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
                  </div>
              
              </div>
                          
                      
              </ng-template>
          </ngb-tab> 
  
          <ngb-tab title="Soirees" (click) ="GetListeReservationAccepter('Soirees')" >
            <ng-template ngbTabContent>
                      
              <div class="card-header">
                  <h5 class="title">Reservations En cour</h5>
              </div>
              <div class="card-body">
                  <div class="search-div">
                  
                  <mat-form-field class="search-form-field" floatLabel="never" style="background: white;">
                      <input matInput style="background: white;" [(ngModel)]="searchKey3" placeholder="Search" autocomplete="off" (keyup)="applyFilter3()">
                      <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey3"  (click)="onSearchClear3()">
                      <mat-icon>close</mat-icon>
                      </button>
                  </mat-form-field>
                  </div>
                  <div class="mat-elevation-z8 container">
  
                  <mat-table [dataSource]="listeSoiree"  matSort>
  
                      <ng-container matColumnDef="Titre">
                      <mat-header-cell *matHeaderCellDef  mat-sort-header style="color: blue;"> Titre</mat-header-cell>
                      <mat-cell *matCellDef="let element">{{element.Titre}}</mat-cell>
                      </ng-container>
  
                      <ng-container matColumnDef="Etat">
                      <mat-header-cell *matHeaderCellDef  mat-sort-header style="color: blue;">Etat</mat-header-cell>
                      <mat-cell *matCellDef="let element">{{element.Etat}}</mat-cell>
                      </ng-container>
  
                      <ng-container matColumnDef="Nom">
                      <mat-header-cell *matHeaderCellDef  mat-sort-header style="color: blue;">Nom</mat-header-cell>
                      <mat-cell *matCellDef="let element">{{element.Nom}}</mat-cell>
                      </ng-container>
                      
                      <ng-container matColumnDef="actions">
                      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                      <mat-cell *matCellDef="let row">
                          <a  title="Delete" style="color: #E34724;" data-toggle="tooltip" (click)="deleteReservation(row._id,'Soiree') "><i class="material-icons">&#xE872;</i></a>
                          <button   mdbBtn type="button"  rounded="true"  color="orange" outline="true"  mdbWavesEffect  >Afficher</button>
  
                      </mat-cell>
                      </ng-container>
  
                      <ng-container matColumnDef="loading">
                      <mat-footer-cell *matFooterCellDef colspan="4">
                          Loading data...
                      </mat-footer-cell>
                      </ng-container>
  
                      <ng-container matColumnDef="noData">
                      <mat-footer-cell *matFooterCellDef colspan="4">
                          No data.
                      </mat-footer-cell>
                      </ng-container>
  
                      <mat-header-row *matHeaderRowDef="ReservationAccepterColumns"></mat-header-row>
  
                      <mat-row *matRowDef="let row; columns: ReservationAccepterColumns;"></mat-row>
  
                      <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listeSoiree!=null}"></mat-footer-row>
  
                      <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listeSoiree!=null && listeSoiree.data.length==0)}"></mat-footer-row>
  
                  </mat-table>
  
                  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
                  </div>
              
              </div>
                          
                      
              </ng-template>
          </ngb-tab>   
  
          <ngb-tab title="Circuits" (click) ="GetListeReservationAccepter('Circuits')">
            <ng-template ngbTabContent>
                      
              <div class="card-header">
                  <h5 class="title">Reservations En cour</h5>
              </div>
              <div class="card-body">
                  <div class="search-div">
                  
                  <mat-form-field class="search-form-field" floatLabel="never" style="background: white;">
                      <input matInput style="background: white;" [(ngModel)]="searchKey4" placeholder="Search" autocomplete="off" (keyup)="applyFilter4()">
                      <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey4"  (click)="onSearchClear4()">
                      <mat-icon>close</mat-icon>
                      </button>
                  </mat-form-field>
                  </div>
                  <div class="mat-elevation-z8 container">
  
                  <mat-table [dataSource]="listeCircuit"  matSort>
  
                      <ng-container matColumnDef="Titre">
                      <mat-header-cell *matHeaderCellDef  mat-sort-header style="color: blue;"> Titre</mat-header-cell>
                      <mat-cell *matCellDef="let element">{{element.Titre}}</mat-cell>
                      </ng-container>
  
                      <ng-container matColumnDef="Etat">
                      <mat-header-cell *matHeaderCellDef  mat-sort-header style="color: blue;">Etat</mat-header-cell>
                      <mat-cell *matCellDef="let element">{{element.Etat}}</mat-cell>
                      </ng-container>
  
                      <ng-container matColumnDef="Nom">
                      <mat-header-cell *matHeaderCellDef  mat-sort-header style="color: blue;">Nom</mat-header-cell>
                      <mat-cell *matCellDef="let element">{{element.Nom}}</mat-cell>
                      </ng-container>
                      
                      <ng-container matColumnDef="actions">
                      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                      <mat-cell *matCellDef="let row">
                          <button   mdbBtn type="button"  rounded="true"  color="orange" outline="true"  mdbWavesEffect >Afficher</button>
  
                      </mat-cell>
                      </ng-container>
  
                      <ng-container matColumnDef="loading">
                      <mat-footer-cell *matFooterCellDef colspan="4">
                          Loading data...
                      </mat-footer-cell>
                      </ng-container>
  
                      <ng-container matColumnDef="noData">
                      <mat-footer-cell *matFooterCellDef colspan="4">
                          No data.
                      </mat-footer-cell>
                      </ng-container>
  
                      <mat-header-row *matHeaderRowDef="ReservationAccepterColumns"></mat-header-row>
  
                      <mat-row *matRowDef="let row; columns: ReservationAccepterColumns;"></mat-row>
  
                      <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listeCircuit!=null}"></mat-footer-row>
  
                      <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listeCircuit!=null && listeCircuit.data.length==0)}"></mat-footer-row>
  
                  </mat-table>
  
                  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
                  </div>
              
              </div>
                          
                      
              </ng-template>
          </ngb-tab> 
                                                  
          </ngb-tabset>
      </div>
    </div>
  </div>
</div>