
<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-toggle">
                <button type="button" class="navbar-toggler" (click)="sidebarToggle()">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <a class="navbar-brand" routerLink="/home">Acceuil</a>
        </div>
        <button class="navbar-toggler" type="button" (click)="collapse()"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="collapseExample" [ngbCollapse]="isCollapsed">
        
          <ul class="navbar-nav">
           
            <li class="nav-item" ngbDropdown>
              <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>
                <i class="now-ui-icons far fa-bell"></i>


                <p>
                  <span class="d-lg-none d-md-block">Some Actions</span>
                </p>
              </a>
              <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <a class="dropdown-item"  *ngFor="let item of listNotif">
                  
                  <div class="container" *ngIf="decoded.type=='admin'">
                    <div class="row" style="width: 400px;">
                      <div class="col" style="font-weight: bold;color: green;">
                        {{item.sender}}
                      </div>
                    </div>

                    <div class="row" style="width: 400px;" >
                      <div class="col" >
                        <hr style="width:100%;text-align:left;margin-left:0">
                        <p style="white-space: initial;">  {{item.message}} </p>
                      </div>
                      
                    </div>
                  </div>
                  <div class="container" *ngIf="decoded.type=='client'">
                    <div class="row" style="width: 400px;">
                      <div class="col" style="font-weight: bold;color: green;">
                        Freedom Travel
                      </div>
                    </div>

                    <div class="row" style="width: 400px;" >
                      <div class="col" >
                        <hr style="width:100%;text-align:left;margin-left:0">
                        <p style="white-space: initial;">  {{item.response}} </p>
                      </div>
                      
                    </div>
                  </div>
                 </a>
                

                
              </div>
            </li>
            <li class="nav-item" (click)="message()" *ngIf="decoded.type=='admin'">
              <a class="nav-link" >
              <i class="now-ui-icons fas fa-envelope"></i>
                <p>
                  <span class="d-lg-none d-md-block">Message</span>
                </p>
              </a>
            </li>
          </ul>
        </div>
    </div>
</nav>
