
<!-- Default column sizing form -->

<section style="width: 100%;height: 100%;">
  <h1 style="text-align: center;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">ADD CIRCUIT</h1>
  <hr>
  <form [formGroup]="form" >
      <!-- Grid row -->
      <div class="form-row m-2">
        <!-- Grid column -->
        <mat-form-field class="col">
          <!-- Default input -->
          <input matInput type="text" class="form-control" placeholder="id" formControlName="id" (change)="valid()">
          <mat-error *ngIf="form.get('id').errors?.required">Le id est obligatoire</mat-error>

        </mat-form-field>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <mat-form-field class="col">
          <!-- Default input -->
          <input matInput type="text" class="form-control" placeholder="nom" formControlName="nom" (change)="valid()">
          <mat-error *ngIf="form.get('nom').errors?.required">Le nom est obligatoire</mat-error>

        </mat-form-field>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <mat-form-field class="col">
          <!-- Default input -->
          <input matInput type="text" class="form-control" placeholder="description" formControlName="description" (change)="valid()">
          <mat-error *ngIf="form.get('description').errors?.required">Le description est obligatoire</mat-error>

        </mat-form-field>
        <mat-form-field class="col">
          <!-- Default input -->
          <input matInput type="text" class="form-control" placeholder="libelle" formControlName="libelle" (change)="valid()">
          <mat-error *ngIf="form.get('libelle').errors?.required">Le libelle est obligatoire</mat-error>

        </mat-form-field>
        <!-- Grid column -->
      </div>
      <div class="form-row m-2">
 
          <!-- Grid column -->
          <mat-form-field class="col">
            <!-- Default input -->
            <input matInput type="text" class="form-control" placeholder="venteadultesingle" formControlName="venteadultesingle" (change)="valid()">
            <mat-error *ngIf="form.get('venteadultesingle').errors?.required">Le venteadultesingle est obligatoire</mat-error>

          </mat-form-field>
          <!-- Grid column -->
        </div>
      <!-- Grid row -->
      <div class="form-row m-2">
          <!-- Grid column -->
          <mat-form-field class="col">
            <!-- Default input -->
            <input matInput type="number" class="form-control" placeholder="venteadultedble" formControlName="venteadultedble" (change)="valid()">
            <mat-error *ngIf="form.get('venteadultedble').errors?.required">Le venteadultedble est obligatoire</mat-error>

          </mat-form-field>
          <!-- Grid column -->
      
          <!-- Grid column -->
          <mat-form-field class="col">
            <!-- Default input -->
            <input matInput type="number" class="form-control" placeholder="vente3rdad" formControlName="vente3rdad" (change)="valid()">
            <mat-error *ngIf="form.get('vente3rdad').errors?.required">Le vente3rdad est obligatoire</mat-error>

          </mat-form-field>
          <!-- Grid column -->
      
          <!-- Grid column -->
          <mat-form-field class="col">
            <!-- Default input -->
            <input matInput type="number" class="form-control" placeholder="venteenfant2ad" formControlName="venteenfant2ad" (change)="valid()">
            <mat-error *ngIf="form.get('venteenfant2ad').errors?.required">Le venteenfant2ad est obligatoire</mat-error>

          </mat-form-field>
          <!-- Grid column -->
        </div>
        <div class="form-row m-2">
          <!-- Grid column -->
          <mat-form-field class="col">
            <!-- Default input -->
            <input matInput type="number" class="form-control" placeholder="tarifbebe" formControlName="tarifbebe" (change)="valid()">
            <mat-error *ngIf="form.get('tarifbebe').errors?.required">Le tarifbebe est obligatoire</mat-error>

          </mat-form-field>
         

      

          <mat-form-field class="col">
            <!-- Default input -->
            <input matInput type="number" class="form-control" placeholder="venteenfant1ad" formControlName="venteenfant1ad" (change)="valid()">
            <mat-error *ngIf="form.get('venteenfant1ad').errors?.required">Le venteenfant1ad est obligatoire</mat-error>

          </mat-form-field>
          <!-- Grid column -->
      
          <!-- Grid column -->
        
        </div>
        <div class="form-row m-2">
          <!-- Grid column -->
          <mat-form-field class="col">
            <!-- Default input -->
            <input matInput class="form-control"  type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31"  formControlName="dateretour" (change)="valid()">
            <mat-error *ngIf="form.get('dateretour').errors?.required">Le date de retour est obligatoire</mat-error>

          </mat-form-field>
          <mat-form-field class="col">
            <!-- Default input -->
            <input matInput class="form-control"  type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31"  formControlName="datedepart" (change)="valid()">
            <mat-error *ngIf="form.get('datedepart').errors?.required">Le date de depart est obligatoire</mat-error>

          </mat-form-field>
         
         
        </div>
        <div class="form-row m-2">
          <!-- Grid column -->
          <mat-form-field class="col">
            <!-- Default input -->
            <textarea matInput type="text" class="form-control" placeholder="programme" formControlName="programme" (change)="valid()"></textarea>

            <mat-error *ngIf="form.get('programme').errors?.required">Le programme est obligatoire</mat-error>

          </mat-form-field>
         
         
         
        </div>
        <div class="form-row m-2">

          <div class="col">
            <div>
                <input type="file" name="image" (change)="selectMultipleImage($event)" accept="image/*" multiple/>
              </div>
              
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
       
       
        </div>
        <div class="form-row m-2">
          <div class="col">
            <mat-grid-list cols="2" rowHeight="2:1" *ngIf="form.get('image').valid && imageverif==true">
            <mat-grid-tile 
              *ngFor="let item of imagePreview2 ; let index = index;">
              
          
              <img src="{{item}}" alt="image" style="margin-top: 8px;width: 100%;height: 100%;">
          
          
            </mat-grid-tile>
          </mat-grid-list>  
          </div>
         

        </div>
        <div style="text-align: center;" >
          <button mat-button mat-dialog-close  type="button" (click)="onSubmit()" [disabled]="! formvalid"  >Upload</button>
          <input  type="button" (click)="close()" value="close"/>
  
        </div>
       
  
    </form>
    <!-- Default column sizing form -->
  
  </section>