<div class="modal-content">
    <div   class="modal-body mx-3 ">
      <div id="content" #content>
        <h2 style="text-align: center;">Freedom Travel</h2>
      <table mdbTable small="true">
        <thead>
          <tr>
            <th> Informations sur le Client </th>
          </tr>
        </thead>
        <tbody>    
          <tr>
            <td>Nom</td>
            <td>{{reservation.Nom}}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{reservation.Email}}</td>
          </tr>
          <tr>
            <td>Téléphone</td>
            <td>{{reservation.Tel}}</td>
          </tr>
        </tbody>
      </table>
      <table mdbTable small="true">
        <thead>
          <tr>
            <th> Information sur la résérvation </th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol>
            <td>Résérvation à </td>
            <td>{{reservation.Titre}}</td>
          </tr>
          <tr>
            <td>Prix</td>
            <td>{{reservation.Prix}} Dt</td>
          </tr>
          <tr>
            <td>Date de Départ</td>
            <td>{{reservation.DateDepart | date}}</td>
          </tr>
          <tr>
            <td>Date de Retour</td>
            <td>{{reservation.DatRetour | date}}</td>
          </tr>
        </tbody>
      </table>
      <table mdbTable small="true">
        <thead>
          <tr>
            <th> Informations sur les Chambres</th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let item of reservation.Chambre ;let i = index" >
            <td>Chambre {{item.num}}</td>
            <td *ngFor="let item2 of item.adulte">{{item2}}</td>
            <td *ngFor="let item3 of item.enfant">{{item3}}</td>
            <td *ngFor="let item4 of item.bb">{{item4}}</td>

          </tr>
        </tbody>
      </table>
      </div>
    
      
    </div>
    <div class="modal-footer row">
      <button  mdbBtn type="button"  rounded="true"  color="orange" outline="true" mdbWavesEffect  (click)="close()" >Annuler</button>
      <button   class=" float-right " mdbBtn type="button"  rounded="true"  color="orange" outline="true" mdbWavesEffect   (click)="pdf()"  >Download PDF</button>
    </div>
</div>